.container {
    display: flex;
    width: 700px;
    height: 700px;
}

.box {
    height: calc(700px / 16);
    width: calc(700px / 16);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.ui-button {
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 5px;
}

.ui-box {
    font-size: 21px;
    margin-bottom: 5px;
}