.container {
    display: flex;
    width: 700px;
    height: 700px;
}



.box {
    height: calc(700px / 16);
    width: calc(700px / 16);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

