.container {
    display: flex;
    width: 960px;
    height: 960px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.box {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

